body {
  font-family: "Montserrat";
}

h1 {
  font-size: 45px;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

.legenda-tv {
  font-size: 12px;
  font-style: italic;
}

.link-compra-tv {
  color: #c44105;
  font-size: 24px;
  font-weight: 700;
  text-decoration: double underline;
}

.lista {
  color: #035276;
  font-style: italic;
}

.realce-cor {
  color: #0588c4;
}

.realce-frete {
  color: #0588c4;
  text-decoration: underline;
}
