body {
  font-family: "Montserrat", system-ui, sans-serif;
  background-color: gray;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.matricula-se {
  color: black;
  font-size: 19.2px;
}

.login {
  font-size: 19.2px;
}

.titulo-principal {
  font-size: 39.8px;
}

.p-titulo-pri {
  color: #04effb;
  font-size: 19.2px;
}

.aprender {
  color: black;
  /*background-color: #00ff88;*/
  font-size: 19.2;
}

.con-cur {
  font-size: 33.2px;
}

.realce-curfor {
  color: #04effb;
}

.formt-pess {
  font-size: 13.3px;
}

.qaprender {
  color: black;
}

.ens-trad {
  color: red;
  font-size: 27.6px;
}

.ens-hash {
  font-size: 27.6px;
}

.h1-1 {
  font-size: 47.8px;
}

.realce-h1-1 {
  color: #04effb;
}

.tamn-h2-2 {
  font-size: 47.8px;
}
.tamn-9-2 {
  font-size: 9.2px;
}

.canal-hst-t {
  color: black;
  font-size: 16px;
}

.canal-hst-p {
  color: #ffa94d;
  font-size: 16px;
}

.tamn-h2-3 {
  font-size: 27.6px;
}

.menos-branco {
  color: #ffffffb3;
}
